{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
    </head>
    <body>
        {% block content %}

        {% if form.errors %}
        <script>
            alert("Your username and password didn't match.\nPlease try again.");
        </script>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% endif %}
        {% endif %}

        <div class="loginBox">
            <form method="POST" action="{% url 'login' %}" class="loginForm">
                <h2>Login</h2>
                {% csrf_token %}
                <input class="inputtext" placeholder="Username" type="text" name="username"
                       autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">

                <input class="inputtext" placeholder="Password" type="password" name="password"
                       autocomplete="current-password" required="" id="id_password">

                <input type="submit" value="Login" class="inputsubmit">
                <input type="hidden" name="next" value="{{ next }}">

                {# Assumes you set up the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                <p><a href="{% url 'register' %}">Create account</a></p>
            </form>
        </div>
        {% endblock %}
    </body>
</html>
