{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Register</title>
  </head>
  <body>
      {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="loginBox">
      <form class="loginForm" method="POST", action="{% url 'register' %}" onsubmit="return submitUserForm();">
        {% csrf_token %}
        <h2>Register With Us</h2>
        <input class="inputtext" placeholder="First Name" type="text" name="firstname"
               autofocus="" autocapitalize="none" autocomplete="firstname" maxlength="50" required="" id="id_firstname">

        <input class="inputtext" placeholder="Last Name" type="text" name="lastname"
               autofocus="" autocapitalize="none" autocomplete="lastname" maxlength="50" required="" id="id_lastname">

        <input class="inputtext" placeholder="Username" type="text" name="username"
               autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">

        <input class="inputtext" placeholder="E-mail" type="email" name="email"
               autofocus="" autocapitalize="none" autocomplete="email" required="" id="id_email">

        <input class="inputtext" placeholder="Password" type="password" name="password1"
                       autocomplete="current-password" required="" id="id_password">

        <input class="inputtext" placeholder="Confirm Password" type="password" name="password2" required="" id="id_password2">

        <div class="g-recaptcha" data-sitekey="6LcpfZkkAAAAAKBWtZ9uHq8hNShlhn38RxuKNQM2" data-callback="verifyCaptcha"></div>
        <div id="g-recaptcha-error"></div>

        <input type="submit" value="Signup" class="inputsubmit">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script>
      var recaptcha_response = '';
      function submitUserForm() {
          if(recaptcha_response.length == 0) {
              document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
              return false;
          }
          return true;
      }

      function verifyCaptcha(token) {
          recaptcha_response = token;
          document.getElementById('g-recaptcha-error').innerHTML = '';
      }
      </script>
    </div>
  </body>
</html>