{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plan Manager - Main Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
    </head>
<body>
    <div class="mainBox">
        <h1>Plan Manager</h1>
        <ul>
            <li><a href="/student-panel">Student Panel</a></li>
            <li><a href="/creator-panel">Creator Panel</a></li>
            <li><a href="/admin">Admin Panel</a></li>
        </ul>
    </div>
</body>
</html>