{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Manager - {{ user.username }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Profile Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="#">My account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mainBox">
    <h1>User Information</h1>
    <table class="table table-bordered table-striped table-dark">
        <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Firstname</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    <h1>{{ user.username }}'s saved notes</h1>
    <table class="table table-bordered table-striped table-dark">
        {% for obj in query %}
        <tr>
            <td>{{obj.0}}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- url 'saveNote'-->
    <form method="POST" action="{% url 'saveNote' %}" class="saveNoteForm">
        {% csrf_token %}
        <h2>Save your private notes</h2>
        <textarea class="noteTextArea" placeholder="Note" name="note" required="" id="id_textarea">
                </textarea>
        <input type="submit" value="Save" class="saveSubmit">
    </form>
</div>
</body>
</html>