{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Student panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="/profile-panel">My account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mainBox">
    <div class="timetableSection">
        <h2>My timetable</h2>

        <table class="table table-bordered table-striped table-dark">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Duration (in minutes)</th>
                <th>Day of the week</th>
                <th>Week's parity</th>
                <th>Instructor</th>
                <th>Classroom</th>
            </tr>
            {% for obj in timetables %}
            <tr>
                <td>{{obj.1}}</td>
                <td>{{obj.2}}</td>
                <td>{{obj.3}}</td>
                <td>{{obj.4}}</td>
                <td>{{obj.5}}</td>
                <td>{{obj.6}}</td>
                <td>{{obj.7}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>