{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit timetable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/creator.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Editing timetable for group {{group_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="/profile-panel">My account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mainBox">
    <div class="lessonsSection">
        <h2>Add lesson</h2>

        <form method="POST" action="{% url 'addLesson' %}">
            <table class="table table-bordered table-striped table-dark">
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>Duration (in minutes)</th>
                    <th>Day of the week</th>
                    <th>Week's parity</th>
                    <th>Instructor</th>
                    <th>Classroom</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <input class="inputtext" type="text" id="id_name" name="name" maxlength="50" size="30" required>
                    </td>
                    <td>
                        <input class="inputtext" type="time" id="id_timestart" name="starttime" min="6:00" max="22:00" required>
                    </td>
                    <td>
                        <input class="inputtext inputnumber" type="number" id="id_duration" name="duration" min="30" max="600" value="90" required>
                    </td>
                    <td>
                        <select id="id_dayoftheweek" name="dayoftheweek">
                            <option value="0">Monday</option>
                            <option value="1">Tuesday</option>
                            <option value="2">Wednesday</option>
                            <option value="3">Thursday</option>
                            <option value="4">Friday</option>
                            <option value="5">Saturday</option>
                            <option value="6">Sunday</option>
                        </select>
                    </td>
                    <td>
                        <input class="inputtext" type="radio" id="id_odd" name="parity" value="odd" checked>
                        <label for="id_odd">Odd</label>
                        <input class="inputtext" type="radio" id="id_even" name="parity" value="even">
                        <label for="id_even">Even</label>
                    </td>
                    <td>
                        <input class="inputtext" type="text" id="id_instructor" name="instructor" maxlength="30" required>
                    </td>
                    <td>
                        <input class="inputtext" type="text" id="id_classroom" name="classroom" maxlength="20" required>
                    </td>
                    <td class="td-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-info add-lesson-button"> Add Lesson </button>
                    </td>
                </tr>
            </table>
        </form>


        <h2>Current lessons</h2>

        <table class="table table-bordered table-striped table-dark">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Duration (in minutes)</th>
                <th>Day of the week</th>
                <th>Week's parity</th>
                <th>Instructor</th>
                <th>Classroom</th>
                <th></th>
            </tr>
            {% for obj in timetables %}
            <tr>
                <td>{{obj.1}}</td>
                <td>{{obj.2}}</td>
                <td>{{obj.3}}</td>
                <td>{{obj.4}}</td>
                <td>{{obj.5}}</td>
                <td>{{obj.6}}</td>
                <td>{{obj.7}}</td>
                <td class="td-center">
                    <form method="POST" action="{% url 'delLesson' %}">
                        {% csrf_token %}
                        <input type="hidden" name="lesson_id" value="{{obj.0}}">
                        <button type="submit" class="btn btn-sm btn-outline-info remove-lesson-button"> Remove Lesson </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>