.mainBox {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.groupSection {
    width: 45%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studentSection {
    width: 45%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.td-center {
    text-align: center;
}
/* The Modal (background) */
#create-group-modal, #showStudentsModal, .show-students-modal, .show-groups-modal, .remove-students-modal,
.add-students-modal, #delete-group-modal {
  display: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #222;
  height: max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* Modal Content */
.modal-content {
   max-width: 500px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  padding: 2em;
  color: #ddd;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.saveNoteForm {
    display: flex;
    max-width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    padding: 2em;
    color: #ddd;
}