html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}