.mainBox {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
}

li {
    font-size: 1.5rem;
    padding: 0.25rem;
    display: inline-block;
}

li > a {
    transition: all 0.5s;
}

li > a:hover {
    text-decoration: underline;
}

.fa {
    padding: 5px;
    font-size: 25px;
    width: 50px;
}
.inputfield input{
    margin-bottom: 10px;
}
.inputlabel label{
    margin-bottom: 17px;
}
.wrapper{
    text-align: center;
    padding-top: 8em;
    font-size: 29px;
}