.mainBox {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.table {
    width: 50%;
}


.align-center {
    text-align: center;
}

.saveNoteForm {
  max-width: 500px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  padding: 2em;
  color: #ddd;
}

.noteTextArea {
  width: 100%;
  border: 0;
  border: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 1em;
}

.noteTextArea:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-bottom: 2px solid #eeeeee;
}

.saveSubmit {
  background: transparent;
  color: #eee;
  border: 2px solid #fff;
  font-size: 12pt;
  padding: 0.5em 1.5em;
  outline: 0;
  cursor: pointer;
  box-sizing: inherit;
  transition: all 0.5s;
  margin: 2em;
}
.saveSubmit:hover {
  background-color: #000;
  border-color: #000;
}
