.mainBox {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.lessonsSection {
    width: 80%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputtext {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 1em;
}

.inputtext:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-bottom: 2px solid #eeeeee;
}

.inputnumber {
  width: 3em;
}